/* Fonts for the text */
@import url('https://fonts.googleapis.com/css?family=Kreon');
@import url('https://fonts.googleapis.com/css?family=News+Cycle');

/* Navigation management */
nav {
  border: 5px solid black;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#tablecolumn {
  border-right: 5px solid black;
}

/* Font for headings */
h1, h2, h3  {
  font-family: 'Kreon', serif;
}

.projectImages {
  width: 100%;
}

.slide {
  height: 100%;
  width: 100%;
}

/*  */

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgba(255,255,255,0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;
}

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;
}

.fa-arrow-right:before, .fa-arrow-left:before {
  color: #222
}

/* Desktop settings */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 30px;
  }

  .slider {
    position: relative;
    width: 750px;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    white-space: nowrap;
  }
}