/* Contains code just for the intro section - code which is used
in multiple sections will be placed in the App.css */

.logo {
  float: right;
  width: 100px;
  height: 100px;
}

/* .welcomeText {
  padding-right: 3em;
} */

.background {
  background-image: url("../images/background.jpg");
  background-size: auto;
  padding-top: 5em;
  padding-bottom: 5em;
}

/* Specific css properties for the intro section */
.introBox {
  background:rgba(255,255,255,0.5);
  margin-top: 30px;
  justify-content: center;
}